# Auto detect text files and perform LF normalization
* text=auto

# Exclude third-party libraries from language stats
include/** linguist-vendored
imgui/** linguist-vendored
tinyobjloader-release/** linguist-vendored
libs/** linguist-vendored
lib/** linguist-vendored

# Mark compiled libraries as generated
lib/*.a linguist-generated
lib/*.lib linguist-generated
lib/*.dll linguist-generated
build/** linguist-generated